html, body{
    width: 100%;
    height: auto;
   margin: 0;
   display: flex;
    justify-content: center;
}




.top-left{
    color: hotpink;
    background: whitesmoke;
    padding: 0%;
    border-radius: .5pc;
    border: 4px;

  
}







.main-section{
    font-family: 'Lora', serif;
        display: grid;
        background-color: whitesmoke;
      color: indigo;
        padding: 45mm;
        border: 20%;
 
}
.paragraph3{
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
    padding: 45mm;
    color: olive;


  

}
.paragraph2{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:whitesmoke;
    color: hotpink;
    font-family: cursive;
    padding: 45mm;
    font-size: large;
}